:root {
	//Fonts
	--font-Inter: 'Inter';
	--font-Cormorant-SC: 'Cormorant SC';

	//Colors
	&[data-theme='dark'] {
		--primary: #121212;
		--primary-text: #ffffff;
		--secondary: #1a1818;
		--accent: #ab8956;
	}

	&[data-theme='light'] {
		--primary: #ffffff;
		--primary-text: #121212;
		--secondary: #fcfcfc;
		--accent: #9b4b4b;
	}

	--primary-gray-dark: #575757;
	--primary-gray-light: #dedede;
	--secondary-gray: #9c9c9c;
}
