.container {
	margin-bottom: 27px;
	max-width: 1240px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
	.warper {
		padding: 10px;
		border-radius: 50%;
		background-color: var(--secondary);
	}
}

@media screen and (min-width: 768px) {
	.container {
		margin-bottom: 44px;
		padding: 24px 0;
		.logo {
			width: 91px;
			height: auto;
		}
	}
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 20px 0;
		.logo {
			width: 91px;
			height: auto;
		}
	}
}
